@use '@/shared/styles/variables' as *;
@use '@/shared/styles/breakpoints' as *;
.intro {
  padding-top: 100px;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  @include bp('mobile') {
    min-height: -webkit-fill-available;
  }
}
.intro__botom {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
  @include bp('tablet') {
    flex-direction: column;
  }
  @include bp('mobile') {
    flex-direction: column;
  }
}

.intro__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
  color: $color-primary;
  align-self: end;
  @include bp('wide') {
    font-size: 31px;
  }
  @include bp('notebook') {
    font-size: 19px;
  }
  @include bp('tablet') {
    font-size: 26px;
    align-self: start;
    margin-bottom: 43px;
  }
  @include bp('mobile') {
    align-self: start;
    font-size: 13px;
    margin-bottom: 20px;
  }
}
.intro__text {
  width: 717px;
  @include bp('wide') {
    width: 862px;
  }
  @include bp('notebook') {
    width: 554px;
  }
  @include bp('tablet') {
    width: 100%;
  }
  @include bp('mobile') {
    width: 100%;
  }
}
