@use '@/shared/styles/breakpoints' as *;
@use '@/shared/styles/variables' as *;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 29px;
  padding-bottom: 28px;
  @include bp('wide') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include bp('notebook') {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include bp('tablet') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include bp('mobile') {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 187px;
  height: 30px;
  transform: translate(-50%, -50%);
  @include bp('wide') {
  }
  @include bp('notebook') {
    width: 156px;
    height: 25px;
  }
  @include bp('tablet') {
    width: 156px;
    height: 25px;
  }
  @include bp('mobile') {
    width: 131px;
    height: 21px;
  }
}
.header__inner {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  gap: 40px;
}
.header_call {
  display: flex;
  align-items: center;
  @include bp('wide') {
    gap: 45px;
  }
  @include bp('desktop') {
    gap: 40px;
  }
  @include bp('notebook') {
    gap: 35px;
  }
  @include bp('tablet') {
    gap: 20px;
  }
  @include bp('mobile') {
    gap: 16px;
  }
}

.header__phoneIcon {
  display: none;
  color: inherit;
  width: 43px;
  height: 43px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  margin-left: 62px;
  svg {
    width: 14px;
    height: 14px;
  }
  @include bp('tablet') {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include bp('mobile') {
    display: none;
  }
}

.header__phoneIconMobile {
  display: none;
  color: inherit;
  width: 43px;
  height: 43px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  svg {
    width: 14px;
    height: 14px;
  }
  @include bp('mobile') {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-primary;
  }
}
.header__menu {
  display: flex;
  @include bp('wide') {
    gap: 43px;
  }
  @include bp('desktop') {
    gap: 40px;
  }
  @include bp('notebook') {
    gap: 25px;
  }
  @include bp('tablet') {
    gap: 0;
  }
}
.header__chooseDesktop {
  display: contents;
  @include bp('mobile') {
    display: none;
  }
}
.header__chooseTablet {
  display: none;
  @include bp('tablet') {
    display: contents;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include bp('tablet') {
    flex-direction: row-reverse;
  }
  @include bp('mobile') {
    justify-content: flex-end;
  }
}
